head{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-color: gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

textarea{
    border-color: black;
    background-color: bisque;
    border-width: 5px;
    width: 200px;
    height: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button{
    border-color: black;
    background-color: red;
    border-width: 1px;
    color: aqua;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

label{
    display: block;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div{
    width: 275px;
    padding: 20px;
    margin: 10px; 
    border-radius: 10px; 
    border: 2px solid black;
}

#SigninDiv{
    background-color: blueviolet;
    border-color: black;
    position: absolute;
    top: 50px;
    left: 50px;
}

#LoginDiv{
    background-color: lightblue;
    border-color: black;
    position: absolute;
    top: 350px;
    left: 50px;
    
}

#SendMessageDiv{
    background-color: green;
    border-color: black;
    position: absolute;
    top: 50px;
    left: 400px;
    
}

#GetMessagesDiv{
    background-color: orchid;
    /* border-color: black; */
    position: absolute;
    top: 50px;
    left: 750px;
    
}

#MessagesDiv{
    background-color: gainsboro;
    border-color: black;
    position: relative;
    top: 30px;
    left: 10px;

}

#Usernames{
    background-color: gainsboro;
    border-color: black;
    position: relative;
    top: 400px;
    left: 400px;
}